.left{
  width: 30%;
}
.img{
  background: aqua;
}
.form{
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

div a{
  color: blue;
  margin-left: 65%;
  font-style: italic;
}
button{
  margin-left: 22%;
  margin-top: 10%;
}
